.body {
    padding: 20px;
    width: 70%;
    margin: auto;
}

body {
    font-family: "Roboto";
    font-size: 20px;
    background: #e2e2e2;
}

/* ################ */

span {
    padding: 0;
    margin: 0;
}

div {
    padding: 0;
    margin: 0;
}

p {

}

h1,h2,h3,h4{
    color: #f30b0b;
}

section,div {
    padding: 5px;
    margin:10px 0px;
}



/* ################ */

section.term::after {
    content: " (term)";
}

section {
    margin: 20px 0px;
}

/* ################ */

code , samp {
    display: block;
    white-space:pre-line;
    padding: 0px 20px 20px 20px;
    margin : 10px 0px 10px 0px;
    border-radius: 26px;
    background: rgba(0, 42, 255, 0.1);
    box-shadow: inset 5px 5px 10px #c0c0c0,
    inset -5px -5px 10px #ffffff;
}


samp {
    background: rgba(0, 255, 247, 0.1);
}

/* ################ */

.neoinside {
    border-radius: 26px;
    background: #e2e2e2;
    box-shadow: inset 5px 5px 10px #c0c0c0,
    inset -5px -5px 10px #ffffff;
}

.neooutside {
    border-radius: 26px;
    background: #e2e2e2;
    box-shadow:  5px 5px 10px #c0c0c0,
    -5px -5px 10px #ffffff;
}

/* ################ */

.trick {

}

.term {

}

.note {
    display: block;
}

.note::before {
    content: "Note :";
    color:red;
}

.var_object {
    font-weight: bold;
    text-transform: uppercase;
}

/*################*/

.red {
    color: red;
    font-size:  1.1rem;
}

.blue {
    color: blue;
    font-size:  1.1rem;
}

/* ###################### */
/* Objects and Methods */
/* ###################### */

.object_method {

}

    .defenition {

    }

        .object {
            font-style:italic;
        }

        .seprator {

        }

        .method {
            color: red;
            font-style:italic;
        }

        .arguments {

        }

        .arguments::after {
            content: " )";
            color:initial;
        }

        .arguments::before {
            content: "( ";
            color:initial;
        }

        .arguments > .argument {
            color: blue;
        }

            [data-argument-type="required"].argument {
                color: blue;
            }

                [data-argument-type="required"].argument::after {
                    content: " }";
                    color:initial;
                    font-size: initial;
                }

                [data-argument-type="required"].argument::before {
                    content: "{ ";
                    color:initial;
                    font-size: initial;
                }

            [data-argument-type="optional"].argument {
                color: blue;
            }

                [data-argument-type="optional"].argument::after {
                    content: " ]";
                    color:initial;
                    font-size: initial;
                }

                [data-argument-type="optional"].argument::before {
                    content: "[ ";
                    color:initial;
                    font-size: initial;
                }

    .describtion{
            display: block;
        }

        .describtion__statement{
            display: block;
        }

            .statement--argument{
                color:blue;
            }

            .statement--argument::after{
                content: " ,";
                color: initial;
            }

            .statement__return {

            }

                .statement__return::after {
                    content: " ," ;
                    color: initial;
                }

                .statement__return::before {
                    content: "return " ;
                    color: orange;
                }

            .statement__do {

            }

            .statement__do::before {
                content: "do " ;
                color: orange;
            }

            .statement__do__argument{
                color: blue;
            }



        .describtion__error {
            display: block;
        }

            .describtion__error--error {
                color:red;
            }

/*##############################*/

.argument1 {
    color: blue;
    text-transform: uppercase;
}
.argument1::after {
    content: "}";
    color: initial;
}

.argument1::before {
    content: "{";
    color: initial;
}
