.body {
    padding: 20px;
    width: 70%;
    margin: auto;
}

body {
    font-family: "Roboto";
    font-size: 20px;
    background: #e2e2e2;

}

p {

}

section.term::after {
    content: " (term)";
}

section {
    margin: 20px 0px;
}




code , samp {
    display: block;
    white-space:pre-line;
    padding: 0px 20px 20px 20px;
    margin : 10px 0px 10px 0px;
    border-radius: 26px;
    background: rgba(0, 42, 255, 0.1);
    box-shadow: inset 5px 5px 10px #c0c0c0,
    inset -5px -5px 10px #ffffff;
}


samp {
    background: rgba(0, 255, 247, 0.1);
}


.neoinside {
    border-radius: 26px;
    background: #e2e2e2;
    box-shadow: inset 5px 5px 10px #c0c0c0,
    inset -5px -5px 10px #ffffff;
}

.inline-block{
    display: inline-block;
}

span {
    display: inline-block;
    padding:    5px;
    margin: 2px;
}

.neooutside {
    padding: 5px;
    border-radius: 26px;
    background: #e2e2e2;
    box-shadow:  5px 5px 10px #c0c0c0,
    -5px -5px 10px #ffffff;
}


h1,h2,h3,h4{
    color: #f30b0b;
}

/*################*/
.trick {

}

.term {

}

.note {
    display: block;
}

.note::before {
    content: "Note :";
    color:red;
}

.var_object {
    font-weight: bold;
    text-transform: uppercase;
}

.python_prompt {

}



/*################*/

.red {
    color: red;
    font-size:  1.1rem;
}

.blue {
    color: blue;
    font-size:  1.1rem;
}

/* ###################### */
.function {
    margin: 5rem 0px;
}

.funcion--argument {
    display: block;
}

.funcion--describtion {
    display: block;
}

function--describtion__ {
    display: block;
}

.object {
    font-style: italic;
    padding: 0;
    text-transform: uppercase;
    font-size: 1.2rem;
}

/* Function Name */
.fn {
    padding: 0;
    color : red;
    font-size: 1.3rem;
}

/* Function Arguments */
.f_arg {
    margin:0;
}

    /* Function Arguments Optional*/
    .f_arg--op {
        text-transform: uppercase;
        color : blue;
        font-size: 1.2rem;
    }
    .f_arg--op::after {
        content: " ]";
    }
    .f_arg--op::before {
        content: "[ ";
    }

    /* Function Argument Required */
    .f_arg--re {
        text-transform: uppercase;    
        color : blue;
        font-size: 1.2rem;
    }
    .f_arg--re::after {
        content: " }";
    }
    .f_arg--re::before {
        content: "{ ";
    }

/* Function Do */
.f_do {
    
}

.f_do::before {
    content: "=> ";
}

/* Function Return */
.f_re {

}
.f_re::before {
    content: "return ";
    color: orange;
}